@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');

:root {
	--sideMargin: 0px;
	--black: #130F26;
	--red: #F03748;
	--deep: #262B3A;
	--text: #9199A4;
}

* {
	margin: 0px;
	padding: 0px;
}

/* PREVENT SCROLLING BUG */
html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
}

body {
	background-color: rgb(7, 9, 14);
	overflow-x: hidden;
	overflow-y: scroll;
}

img {
	pointer-events: none;
}

.section {
	padding-bottom: 100px;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(images/bg.png) no-repeat center center;
	background-size: cover;
	opacity: 0.7;
	-moz-appearance: none;
    -webkit-appearance: none;
	appearance: none;
}

#section1 {
	height: 100vh;
	align-items: center;
	display: flex;
	margin-left: var(--sideMargin);
}

#section1-mobile {
	display: flex;
	flex-direction: column;
	margin-right: var(--sideMargin);
}

#loading-wrap {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	background-color: rgb(7, 9, 14);
}

#top-nav-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: rgba(7, 9, 14, 0);
}

#top-nav {
	width: 75vw;
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
	padding: 30px 0px;
	font-family: 'Inter Tight', sans-serif;
	font-weight: 600;
	font-size: 16px;
}

#top-nav-right {
	float: right;
	position: relative;
	left: 22px;
}

#top-nav a {
	color: #9199A4;
	text-decoration: none;
	opacity: 1;
}

#top-nav a:hover {
	opacity: 1;
	color: var(--red);
}

#top-nav li {
	display: inline;
	padding: 0px 40px 0px 0px;
	vertical-align: middle;
	line-height: 0;
}

.jacobkucera {
	width: 340px;
}

.jacobkucera-mobile, .jacobkucera-heightmod {
	display: none;
}

.sublanding-text {
	font-family: 'Inter Tight', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: var(--text);
	margin-top: 30px;
	letter-spacing: -0.02em;
	width: 350px;
}

span {
	display: inline-block;
}

.isophone, .isophone2, .isophone3 {
	position: absolute;
	right: calc(var(--sideMargin) - 4px);
	margin-top: 15px;
	width: 42vw;
	max-width: 680px;
	vertical-align: middle;
}

.isophone {
	animation: isophone 5s infinite;
}

.isophone2 {
	animation: isophone2 5s infinite;
}

.isophone3 {
	animation: isophone3 5s infinite;
}

@keyframes isophone {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0px);
	}
}

@keyframes isophone2 {
	0% {
		transform: translateY(-10px);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(-10px);
	}
}

@keyframes isophone3 {
	0% {
		transform: translateY(10px);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(10px);
	}
}

.bottom-container {
	font-family: 'Inter Tight', sans-serif;
	font-weight: bold;
	color: var(--deep);
	align-self: flex-end;
	position: absolute;
	display: flex;
	align-items: center;
	margin-bottom: 34px;
	cursor: pointer;
}

.bottom-container-icon {
	margin-right: 16px;
}

.isophone-mobile, .isophone-mobile-container {
	display: none;
}

.job-container {
	margin-left: var(--sideMargin);
	margin-right: calc(var(--sideMargin) + 50px);
	margin-top: 240px;
	position: relative;
}

.redline {
	background-color: var(--red);
	width: 50%;
	height: 8px;
	position: absolute;
	right: calc(100% + 20px);
	transform: scale(-1);
	margin-top: 21px;
	display: none;
}

.job-business {
	font-family: 'Inter Tight', sans-serif;
	color: var(--red);
	font-size: 60px;
	width: 80vw;
	line-height: 0.9;
	font-weight: 800;
	position: relative;
	left: -2px;
}

.job-title {
	font-family: 'Inter Tight', sans-serif;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: -0.2px;
	color: var(--red);
	margin-top: 6px;
}

.job-title a {
	color: var(--red);
}

.job-desc {
	font-family: 'Inter Tight', sans-serif; 
	font-size: 18px;
	letter-spacing: 0.2px;
	line-height: 30px;
	color: var(--text);
	opacity: 1;
	margin-top: 30px;
	width: 100%;
}

.job-desc a {
	color: rgb(240, 55, 72);
}

.img-desc-container {
	display: flex;
	align-items: center;
	width: 95%;
}

.img-desc-heading {
	font-family: 'Inter Tight', sans-serif;
	font-size: 32px;
	font-weight: 600;
	color: #fff;
	width: 350px;
	vertical-align: middle;
	margin-top: 28px;
}

.img-desc {
	font-family: 'Inter Tight', sans-serif;
	font-size: 18px;
	letter-spacing: 0.2px;
	line-height: 40px;
	color: var(--text);
	opacity: 1;
	margin-top: 30px;
	width: 100%;
}

.images-container {
	margin-left: var(--sideMargin);
	margin-right: var(--sideMargin);
	width: 100%;
}

.viewport {
	width: 75vw;
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
}

.portfolio-image-fw {
	width: 98%;
	position: relative;
	border-radius: 10px;
	margin-top: 50px;
}

.no-touch #cd-vertical-nav {
	position: fixed;
	right: 23px;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 103;
}

.no-touch #cd-vertical-nav li {
	text-align: right;
}

.no-touch #cd-vertical-nav a.is-selected .cd-dot {
	background-color: var(--red);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.no-touch #cd-vertical-nav a.is-selected .cd-label {
	opacity: 0;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.no-touch #cd-vertical-nav a {
	display: inline-block;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.no-touch #cd-vertical-nav a:after {
	content: "";
	display: table;
	clear: both;
}

.no-touch #cd-vertical-nav a span {
	float: right;
	display: inline-block;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
}

.no-touch #cd-vertical-nav a:hover span {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.no-touch #cd-vertical-nav a:hover .cd-label {
	opacity: 1;
}

.no-touch #cd-vertical-nav a.is-selected .cd-dot {
	background-color: var(--red);
	border: 6px solid var(--red);
}

.no-touch #cd-vertical-nav .cd-dot {
	position: relative;
	top: 4px;
	height: 14px;
	width: 14px;
	border-radius: 100%;
	background-color: rgba(95, 71, 71, 0);
	border: 6px solid #191C24;
	-webkit-transition: -webkit-transform 0.2s, scale 0.5s;
	-moz-transition: -moz-transform 0.2s, scale 0.5s;
	transition: transform 0.2s, scale 0.5s;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.no-touch #cd-vertical-nav .cd-label {
	font-family: 'Inter Tight', sans-serif; 
	font-weight: bold;
	font-size: 14px;
	letter-spacing: -0.5px;
	text-transform: uppercase;
	position: relative;
	top: 2px;
	left: 8px;
	margin-right: 10px;
	padding: 7px 8px;
	color: var(--red);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	opacity: 0;
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.touch #cd-vertical-nav {
	position: fixed;
	z-index: 1;
	right: 5%;
	bottom: 30px;
	width: 90%;
	max-width: 400px;
	max-height: 90%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transform-origin: right bottom;
	-moz-transform-origin: right bottom;
	-ms-transform-origin: right bottom;
	-o-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	border-radius: 0.25em;
	background-color: rgba(0, 0, 0, 0.9);
}

#cd-vertical-nav ul {
	list-style-type: none;
}

.touch #cd-vertical-nav a {
	display: block;
	padding: 1em;
	border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}

.touch #cd-vertical-nav a span:first-child {
	display: none;
}

.touch #cd-vertical-nav a.is-selected span:last-child {
	color: #d88683;
}

.touch #cd-vertical-nav.open {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.touch #cd-vertical-nav li:last-child a {
	border-bottom: none;
}

.fade {
	opacity: 0;
	position: relative;
	top: 50px;
}

#section6 {
	padding-bottom: 100px;
}

.c-scrollbar_thumb {
	background-color: var(--red) !important;
	opacity: 1 !important;
	width: 8px !important;
}

@media only screen and (max-width: 1350px) {
	.jacobkucera {
		width: 300px;
	}

	.sublanding-text {
		font-size: 27px;
		width: 340px;
	}
}

@media only screen and (max-width: 1300px) {
	.sublanding-text img {
		height: 26px;
	}
}

@media only screen and (max-width: 1100px) {
	.job-desc {
		width: 100%;
	}

	.jacobkucera {
		width: 270px;
	}

	.sublanding-text {
		font-size: 24px;
		width: 260px;
	}

	.isophone, .isophone2, .isophone3 {
		width: 440px;
	}
}


@media only screen and (max-width: 990px) {
	.jacobkucera {
		width: 240px;
	}

	.sublanding-text {
		font-size: 22px;
		width: 240px;
	}

	.isophone, .isophone2, .isophone3 {
		width: 425px;
	}
}

@media only screen and (max-width: 940px) {
	.viewport, #top-nav {
		width: 84vw;
	}
}

@media only screen and (max-width: 800px) {
	.job-business {
		font-size: 38px;
		margin-left: 3px;
	}
}

@media only screen and (max-width: 850px) {

	/* MOBILE VIEW */

	:root {
		--sideMargin: 40px;
	}

	.viewport {
		width: 100vw;
	}

	.section1-wrap {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.bottom-container {
		left: 50%;
		transform: translate(-50%, -50%);
		margin-bottom: 20px;
	}
	
	.bottom-container-icon {
		margin-right: 0px;
	}

	.isophone-mobile-container {
		display: block;
		margin-top: 40px;
		width: 500px;
		height: 380px;
		align-self: center;
	}

	.isophone, .isophone2, .isophone3 {
		display: none;
	}

	.isophone-mobile, .isophone2-mobile, .isophone3-mobile {
		position: absolute;
		display: block;
		width: 100%;
	}

	.isophone-mobile {
		animation: isophone 5s infinite;
	}
	
	.isophone2-mobile {
		animation: isophone2 5s infinite;
	}
	
	.isophone3-mobile {
		animation: isophone3 5s infinite;
	}

	#top-nav-container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		background-color: rgba(7, 9, 14, 0.85);
	}
	
	#top-nav {
		width: 90vw;
		margin: 0 auto;
		max-width: 1200px;
		position: relative;
		padding: 30px 0px;
		font-family: 'Inter Tight', sans-serif;
		font-weight: 600;
		font-size: 16px;
	}

	.jacobkucera {
		display: none;
	}

	.jacobkucera-mobile {
		height: 20vh;
		display: block;
	}

	.sublanding-text {
		text-align: center;
		align-self: center;
	}
	
	.portfolio-image-fw {
		width: 100%;
		border-radius: 0px;
	}

	.images-container {
		margin-left: 0;
		margin-right: 0;
		max-width: 1100px;
	}

	#cd-vertical-nav {
		display: none;
	}

	.img-desc-container {
		display: block;
		align-items: center;
		width: 80%;
		margin-left: var(--sideMargin);
	}
	
	.img-desc-heading {
		font-size: 32px;
		width: auto;
	}
	
	.img-desc {
		font-family: 'Inter Tight', sans-serif;
		font-size: 18px;
		letter-spacing: 0.2px;
		line-height: 40px;
		color: var(--text);
		opacity: 1;
		margin-top: 30px;
		width: 100%;
	}
}

@media only screen and (max-width: 700px) {
	.isophone-mobile-container {
		display: block;
		margin-top: 40px;
		width: 420px;
		height: 320px;
		align-self: center;
	}
}

@media only screen and (max-width: 400px) {
	.job-desc {
		width: 80vw;
	}
}

@media only screen and (max-height: 900px) {
	.isophone-mobile-container {
		width: 350px;
		height: 266px;
	}

	.jacobkucera-mobile {
		height: 200px;
	}
}

@media only screen and (max-height: 825px) {
	.isophone-mobile-container {
		width: 300px;
		height: 230px;
	}
}

@media only screen and (max-height: 760px) {
	.isophone-mobile-container {
		width: 290px;
		height: 220px;
	}

	.jacobkucera-mobile {
		height: 150px;
	}
}

@media only screen and (max-height: 700px) {
	.isophone-mobile-container {
		width: 300px;
		height: 230px;
	}

	.sublanding-text {
		font-size: 20px;
		width: 220px;
	}

	.jacobkucera-mobile {
		height: 130px;
	}

	.jacobkucera {
		width: 240px;
	}

	#top-nav {
		padding: 24px 0px;
	}

	.bottom-container {
		margin-bottom: 14px;
	}
}

@media only screen and (max-height: 660px) {
	.isophone-mobile-container {
		width: 230px;
		height: 176px;
	}
}

@media only screen and (max-height: 600px) and (max-width: 600px) {
	.isophone-mobile-container {
		width: 200px;
		height: 188px;
		margin-top: 36px;
	}

	.sublanding-text {
		font-size: 16px;
		width: 160px;
		margin-top: 18px;
	}

	.jacobkucera-mobile, .jacobkucera {
		display: none;
	}

	.jacobkucera-heightmod {
		display: block;
		height: 50px;
	}
}

@media only screen and (max-height: 500px) {
	.jacobkucera {
		width: 190px;
	}
}

/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 812px) 
	and (-webkit-min-device-pixel-ratio: 3)
	and (orientation: portrait) {

	#section1 {
		width: auto;
		margin-left: 0;
		height: -webkit-fill-available;
	}

	.isophone-mobile-container {
		display: block;
		width: 350px;
		height: 262px;
		margin-top: 55px !important;
		margin-left: -8px;
	}

	.bottom-container {
		margin-bottom: 10px;
	}

	.sublanding-text {
		margin-top: 20px;
		font-size: 18px;
		width: 310px;
	}

	.jacobkucera-mobile {
		display: none;
	}

	.jacobkucera-heightmod {
		display: block;
		height: 67px;
	}

	#top-nav {
		padding: 26px 0px;
	}

	#top-nav ul {
		font-size: 15px;
	}
}

/* Landscape */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 812px) 
	and (-webkit-min-device-pixel-ratio: 3)
	and (orientation: landscape) {

	#section1 {
		width: auto;
		margin-left: 0;
		height: -webkit-fill-available;
	}

	.isophone-mobile-container {
		display: none;
	}

	.section1-wrap {
		display: block;
		top: 90px;
		left: var(--sideMargin);
		transform: none;
	}

	.isophone, .isophone2, .isophone3 {
		display: block;
		margin-top: 50px;
		width: 290px;
	}

	.img-desc-heading {
		font-size: 40px;
	}
	
	.job-desc {
		font-size: 10px;
	}

	.bottom-container {
		display: block;
		height: 28px;
		left: var(--sideMargin);
		transform: none;
	}

	.sublanding-text {
		margin-top: 20px;
		font-size: 18px;
		width: 310px;
		text-align: left;
	}

	.bottom-container {
		left: var(--sideMargin);
	}

	.jacobkucera-mobile {
		display: none;
	}

	.jacobkucera-heightmod {
		display: block;
		height: 68px;
	}

	#top-nav {
		padding: 26px 0px;
	}

	#top-nav ul {
		font-size: 15px;
	}

	.bottom-container {
		margin-bottom: 18px;
	}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: portrait) { 
	#section1 {
		width: auto;
		margin-left: 0;
		height: -webkit-fill-available;
	}

	.isophone-mobile-container {
		display: block;
		width: 300px;
		height: 240px;
		margin-top: 25px;
		margin-left: -8px;
	}

	.bottom-container-icon {
		height: 22px;
	}

	.sublanding-text {
		margin-top: 20px;
		font-size: 18px;
		width: 310px;
	}

	.jacobkucera-mobile {
		display: none;
	}

	.jacobkucera-heightmod {
		display: block;
		height: 67px;
		margin-top: 5px;
	}

	#top-nav {
		padding: 26px 0px;
	}

	#top-nav ul {
		font-size: 15px;
	}

	.bottom-container {
		height: 30px;
	}
}

/* Landscape */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: landscape) {
	#section1 {
		width: auto;
		margin-left: 0;
		height: -webkit-fill-available;
	}

	.isophone-mobile-container {
		display: none;
	}

	.section1-wrap {
		display: block;
		top: 90px;
		left: var(--sideMargin);
		transform: none;
	}

	.isophone, .isophone2, .isophone3 {
		display: block;
		margin-top: 50px;
		width: 290px;
	}

	.img-desc-heading {
		font-size: 40px;
	}
	
	.job-desc {
		font-size: 10px;
	}

	.bottom-container {
		display: block;
		height: 28px;
		left: var(--sideMargin);
		transform: none;
	}

	.sublanding-text {
		margin-top: 20px;
		font-size: 18px;
		width: 310px;
		text-align: left;
	}

	.bottom-container {
		left: var(--sideMargin);
	}

	.jacobkucera-mobile {
		display: none;
	}

	.jacobkucera-heightmod {
		display: block;
		height: 68px;
	}

	#top-nav {
		padding: 26px 0px;
	}

	#top-nav ul {
		font-size: 15px;
	}
}